@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap');

*{
    font-family: Poppins;

}
body{
    margin: 0;
    padding: 0;

}
.navbar{
    height: 8vh;
}
.carousel-item img{
    margin-top: 8vh;
    width: auto;
    height: 70vh;
}
.about img{
    height: 80vh;
}
.card-body img{
    min-width: 50%;
    max-height: 200px;
}
.im1{
    height: 60vh;
    width: auto;
}